<h1>マイページ</h1>

<div class="mx-auto" style="width: 200px;">
<div class="user_info">
  <%= image_tag(@user.iamge.url , :size =>'180x180') if @user.iamge.url %></p>
  <%= link_to "アイコンを登録する", edit_user_registration_path %>
  <h5><%= link_to "お気に入り一覧", :controller => "users",:action => "favo", class: "nav-link"%></h5>
</div>
</div>