.jumbotron {
	padding-top: 0px;
    background-image: url("/assets/download.jpg");
	background-size: cover;
	background-position: 50% 50%;
	height: 200px;
}

.image_head {
	padding-top: 0px;
    background-image: url("https://shrouded-temple-22938.herokuapp.com/images/download.jpg");
	background-size: cover;
	background-position: 50% 50%;
	height: 200px;
}


